html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:"Open Sans";
}

h1 {
    margin:0 
}

.top-img{
    position: relative;
    height:25%;
    background-image:url(../img/beach.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}


.top-bar{
    background-color:black;
    opacity:0.75;
    position: absolute;
    width:100%;
    top: 100%; left: 50%;
    transform: translate(-50%,-100%);
  
}

header{
   text-align: center;
   font-size: 35px;
   color: white;
}


.side-bar{
    background-color:dimgray;
    float:left;
    padding:20px;
    width:20%;
}

.side-bar a{
    display:block;
    padding:10px;
    text-decoration:none;
    font-size:25px;
}

.side-bar a:hover{
    background-color:white;
}

.bg-content{
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
}

section::after{
   content: "";
   display: table;
   clear: both;
}

